<template>
  <nav>
    <ul>
      <li>
        <router-link to="/">Home</router-link>
      </li>
      <li>
        <router-link to="/album">Album</router-link>
      </li>
      <li>
        <router-link to="/artist">Artist</router-link>
      </li>
    </ul>
  </nav>
</template>

<style></style>
